/* ページの拡大設定 */
@media only screen and (min-width: 76.25em) {
  .md-main__inner {
    max-width: none;
  }
  .md-sidebar--primary {
    left: 0;
  }
  .md-sidebar--secondary {
    right: 0;
    margin-left: 0;
    -webkit-transform: none;
    transform: none;
  }
}

.md-typeset h1 {
  padding-bottom: 0.3em;
  line-height: 1.5;
  position: relative;
  padding-left: 18px;
  margin-bottom: 20px;
  margin-top: 30px;
  border-bottom: 1px solid #2f51b4;
  border-left: 7px solid #2f51b4;

  margin-top: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #2f51b4;
  border-left: 7px solid #2f51b4;

  padding-top : 5px;
  padding-left : 10px;
  padding-bottom : 5px;
}


.md-typeset h2 {
  line-height: 1.6;
  position: relative;

  margin-top: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #2f51b4;
  border-left: 7px solid #2f51b4;

  padding-top : 5px;
  padding-left : 10px;
  padding-bottom : 5px;
}


.md-typeset h3 {
  line-height: 1.2;
  position: relative;

  margin-top: 40px;
  margin-bottom: 25px;

  border-bottom: 1px solid #2f51b4;
  border-left: 7px solid red;

  padding-top : 5px;
  padding-left : 10px;
  padding-bottom : 5px;
}


.md-typeset h4 {
  line-height: 1.2;
  position: relative;

  margin-top: 30px;
  margin-bottom: 25px;

  border-bottom: 1px solid #2f51b4;
  border-left: 7px solid green;

  padding-top : 7px;
  padding-left : 10px;
  padding-bottom : 7px;
}



/* 本文のフォントの変更 */
body {
  font-family: "Noto Sans JP";

}


/* 定義リスト (ネットの拾い物) */
dt{
  font-size : 18px;
  /*:font-weight : bold;*/

  margin-bottom : 10px;

  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : #666666;

  border-left-width : 7px;
  border-left-style : solid;
  border-left-color : #666666;

  padding-top : 2px;
  padding-left : 8px;
  padding-bottom : 2px;
}

dd{
  font-size : 100%;
  line-height : 1.8;
  margin-bottom : 15px;
  /*padding-left : 30px;*/
  padding-right : 15px;
}




/* table の整形 */
th, td {
  border: solid 2px;  /* 枠線指定 */
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}


table {
  border: solid 2px;  /* 枠線指定 */
  border-collapse: collapse;
  white-space: nowrap; /*改行*/
}

/* table header */
th {
  background-color: aqua;
}



/******** markdown形式の表の整形 *******************/


/* header */
thead {
  padding: 10px;
  background-color: lightblue;
  text-align: center;
}

/* 表の内部 */
tbody {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

/***************************************************/


/*一行のコードブロックの文字色の指定*/
code {
  display: inline-block;
  padding: 0.1em 0.25em; /* 文字周りの余白 */
  color: #444; /* 文字色 */
  /*color: #ff0000;*/
  background-color: #e7edf3; /* 背景色 */
  border-radius: 3px; /* 角丸 */
  border: solid 1px #d6dde4; /* 枠線 */
  }


